<head>
      <title>Louie - Free Bootstrap 4 Template by Colorlib</title>
      <meta charset="utf-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
            rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700"
            rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff"
            rel="stylesheet">

      <link rel="stylesheet"
            href="/css/main/open-iconic-bootstrap.min.css">
      <link rel="stylesheet"
            href="/css/main/animate.css">

      <link rel="stylesheet"
            href="/css/main/owl.carousel.min.css">
      <link rel="stylesheet"
            href="/css/main/owl.theme.default.min.css">

      <!-- Dành cho lightbox img -->
      <link rel="stylesheet"
            href="/css/main/magnific-popup.css">

      <link rel="stylesheet"
            href="/css/main/aos.css">

      <link rel="stylesheet"
            href="/css/main/ionicons.min.css">

      {{!--
      <link rel="stylesheet"
            href="/css/main/bootstrap-datepicker.css"> --}}
      {{!--
      <link rel="stylesheet"
            href="/css/main/jquery.timepicker.css"> --}}


      <link rel="stylesheet"
            href="/css/main/flaticon.css">
      <link rel="stylesheet"
            href="/css/main/icomoon.css">
      <link rel="stylesheet"
            href="/css/main/style.css">
      <link rel="stylesheet"
            href="/css/main/custom-main.css">

</head>