#sidebar-brand__img {
	width: 155px;
}

#sidebar-brand__img-mini {
	display: none;
	width: 37px;
}

/* Custom Toggle Brand */
.toggled #sidebar-brand__img-mini {
	display: block;
}

.collapse-icon {
	margin: 0 5px 0 0;
	font-size: 14px;
}

.collapse-title {
	font-weight: 700;
}

#error__container {
	height: 79vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* EditorJS */
#editorjs {
	background: white;
	border-radius: 15px;
	padding: 45px 0px 5px 15px;
	color: black;
}

/* Media */
#media__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
}

.media__item {
	margin-bottom: 20px;
	margin-right: 10px;

	position: relative;
}

.media__item-img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
	box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.5);
}

.media__item-overlay {
	position: absolute;
	top: 10px;
	/* right: 10px; */
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.media__item-overlay i {
	cursor: pointer;
	transition: all ease-out 0.05s;
	color: white;
	font-size: 1.2rem;
}

.media__item-overlay i:hover {
	color: #e74a3b;
	font-size: 1.2rem;
}

.media__item-cbo {
	width: 17px;
	height: 17px;
}

#media__item-cbo-select-all {
	width: 17px;
	height: 17px;
	display: inline;
}
